CODESYSTEM_URI = https://voicecollab.ai/fhir/CodeSystem/
VALUESET_URI = https://voicecollab.ai/fhir/ValueSet/
QUESTIONNAIRE_URI = https://voicecollab.ai/fhir/Questionnaire/
QUESTIONNAIRE_LANGUAGE = en